<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>
	<servlet>
		<!-- 要与下面的名称相同 -->
		<servlet-name>Welcome</servlet-name>
		<!-- 调用的类的位置 -->
		<servlet-class>com.test.servlet.Welcome</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<!-- url标识 -->
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
</web-app>